body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:287px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:23px;
  top:190px;
  width:287px;
  height:37px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FF9999;
  text-align:left;
  line-height:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-23px;
  width:287px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
