body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-150px;
  width:270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:183px;
  top:173px;
  width:217px;
  height:37px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:320px;
  top:280px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:280px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  left:83px;
  top:183px;
}
#u0_img.a {
}
#u1.a {
}
#u2.a {
  left:220px;
  top:290px;
}
#u2_img.a {
}
#u3.a {
}
#u4.a {
  left:50px;
  top:290px;
}
#u4_img.a {
}
#u5.a {
}
