body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-220px;
  width:230px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:130px;
  width:145px;
  height:37px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:350px;
  top:210px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:210px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-40px;
  width:230px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  left:70px;
  top:170px;
}
#u0_img.a {
}
#u1.a {
}
#u2.a {
  left:170px;
  top:250px;
}
#u2_img.a {
}
#u3.a {
}
#u4.a {
  left:40px;
  top:250px;
}
#u4_img.a {
}
#u5.a {
}
